/* Name: Aaditya Aryal
   Student Number: 8910228
*/
/*external css for index.html*/
body {
    /*using shorthand property*/
    /*font-style font-variant font-weight font-size/line-height font-family*/

    background-color:rgba(1, 71, 1, 0.3);/*using hsla method*/
    /*hue-saturation-lightness-alpha*/

    height: 100vh;
    width: 100vw; /*using viewport units*/
    /* 50vh or 50 vw means its going to take 50% of height or width of total parent tag dimension*/
    display: flex;
    flex-direction: column;
}
body > main{
    flex: 2 1 70%;
   
    background-color: hsl(90, 20%, 70%);

}
body > aside{
    flex: 1 1 30%;
    background-color: hsl(180, 20%, 70%);
}

body > main > h2{ /* changing properties of heading 2 in index.html*/
    color: #f00; /*using 3 digit hex*/
    font-size: 2em; /*using relative units*/
}
body > footer{
    background-color: hsl(270, 20%, 70%);
}

body > header{
    background-color: hsl(360, 20%, 70%);
}

.structural{
    padding: 1em;
    margin: 1rem;
    border-bottom: 0.3rem;
    border: solid;
    border-color: blue;
}

#first{
    color: rgb(227, 54, 144);
}
#second{
    color: rgb(2, 102, 52);
}



footer p{
    font-size: smaller;
}

h1{
    color:olivedrab;
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}

aside ul{ 
    list-style-type: circle; /*changing the style of the bullets of list*/
}
aside li,aside a{
    color: rgba(227, 54, 144, 1);/*chaning font color using rgba method*/
    line-height: 4em;/* changing the line height between element of list*/
}
aside li a:hover{

    color: #FFF;
}
nav li{
    display: inline;
    list-style-type: none;
    padding: 0.3rem;
}
nav li a{
    color: indigo;
    border: 0.15em solid indigo;
    background-color: cornsilk;
    text-decoration: none;
    padding: 1em;
}
nav li a:hover{
    color: cornsilk;
    border-color: cornsilk;
    background-color: indigo;
}

form {
    border: o.25em dashed blueviolet;
    padding: 1em;
}

input[type="text"], 
input[type="email"],
input[type="submit"],
select,
option{
    width: 50%;
    display: block;
    height: 2em;
}
input[type="radio"],
input[type="checkbox"]{
    height: 2em;
    width: 2em;
}

select, option, label, legend, input[type="submit"]{
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}

textarea{
    width: 50%;
    display: block;
}



fieldset{
    border: none;
}

html{
    font: italic small-caps normal 20px/200% sans-serif; 
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}



#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}
figure{
    border: 0.15rem solid black;
    width: 80%;
    margin: auto;
    
}
img{
    width: 80%;
    height: 80%;
    
   
   
}


  
  /* Media query for 600 */
  @media (max-width: 600px) {
    html {
      font-size: 10px;
    }
    
    #gallery {
      grid-template-columns: 1fr; /* Change grid to 1 column */
      grid-template-rows: 1fr;
    }
    section{
        display: block;
    }
    
  }