/* Name: Aaditya Aryal
   Student Number: 8910228
*/
/*external css for index.html*/
body {
    font: italic small-caps normal 13px/200% sans-serif; /*using shorthand property*/
    /*font-style font-variant font-weight font-size/line-height font-family*/

    background-color:rgba(1, 71, 1, 0.3);/*using hsla method*/
    /*hue-saturation-lightness-alpha*/

    height: 100vh;
    width: 100vw; /*using viewport units*/
    /* 50vh or 50 vw means its going to take 50% of height or width of total parent tag dimension*/
}
body > main{
    width:70vw;
    float: left;
    background-color: hsl(90, 20%, 70%);
}
body > aside{
    width: 20vw;
    float: right;
    background-color: hsl(180, 20%, 70%);
}

body > main > h2{ /* changing properties of heading 2 in index.html*/
    color: #f00; /*using 3 digit hex*/
    font-size: 2em; /*using relative units*/
}
body > footer{
    clear:both;
    background-color: hsl(270, 20%, 70%);
}

body > header{
    background-color: hsl(360, 20%, 70%);
}

.structural{
    padding: 10px;
    margin: 10px;
    border-bottom: 3px;
    border: solid;
    border-color: blue;
}

#first{
    color: rgb(227, 54, 144);
}
#second{
    color: rgb(2, 102, 52);
}



footer p{
    font-size: smaller;
}

h1{
    color:olivedrab;
    font-size: 50px;
}

aside ul{ 
    list-style-type: circle; /*changing the style of the bullets of list*/
}
aside li,aside a{
    color: rgba(227, 54, 144, 1);/*chaning font color using rgba method*/
    line-height: 4em;/* changing the line height between element of list*/
}
aside li a:hover{

    color: #FFF;
}
nav li{
    display: inline;
    list-style-type: none;
    padding: 3px;
}
nav li a{
    color: indigo;
    border: 2px solid indigo;
    background-color: cornsilk;
    text-decoration: none;
    padding: 4px;
}
nav li a:hover{
    color: cornsilk;
    border-color: cornsilk;
    background-color: indigo;
}

form {
    border: 5px dashed blueviolet;
    padding: 5px;
}

input[type="text"], 
input[type="email"],
input[type="submit"],
input[type="select"],
input[type="option"]{
    width: 50%;
    display: block;
    height: 2em;
}
input[type="radio"],
input[type="checkbox"]{
    height: 2em;
    width: 2em;
}

select, option, label, legend, input[type="submit"]{
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}

textarea{
    width: 50%;
    display: block;
}



fieldset{
    border: none;
}